<tr>
    <td style='text-align:center;padding:32px 40px 0 40px;'>
        <h1
            style='margin:0 0 18px 0;font-size:2rem;font-weight:900;letter-spacing:1px;color:#7b61ff;text-shadow:0 2px 8px #bba9ff44;'
        >Nuevo <span style='color:#bba9ff;'>Contacto</span> recibido</h1>
        <ul
            style='font-size:15px;line-height:1.7;color:#4a5565;text-align:left;display:inline-block;margin:18px auto 18px auto;padding:0 0 0 18px;'
        >
            <li><b>Nombre:</b> {{first_name}} {{last_name}}</li>
            <li><b>País:</b> {{country}}</li>
            <li><b>Email:</b> {{email}}</li>
            <li><b>Teléfono:</b> {{phone}}</li>
            <li><b>Organización:</b> {{organization}}</li>
            <li><b>Tamaño de empresa:</b> {{company-size}}</li>
            <li><b>Puesto:</b> {{job-title}}</li>
            <li><b>Plan de interés:</b> {{plan}}</li>
            <li><b>Política de privacidad aceptada:</b> {{privacy-policy}}</li>
        </ul>
        <div style='margin:24px 0 0 0;font-size:15px;color:#7b61ff;'>Revisa tu panel de
            administración para más detalles.</div>
    </td>
</tr>