---
interface Props {
    title: string
    buttonText: string
    id: string
}

const { title, buttonText, id } = Astro.props
---

<dialog
    id={id}
    class="left-1/2 top-1/2 z-50 -translate-x-1/2 -translate-y-1/2 rounded-lg border-0 bg-white p-6 text-center shadow-md"
    role="alertdialog"
    aria-labelledby={`${id}-title`}
    aria-describedby={`${id}-message`}
>
    <h3 id={`${id}-title`} class="text-primary mb-2 text-2xl font-bold">
        {title}
    </h3>
    <p id={`${id}-message`}><slot /></p>
    <button
        type="button"
        class="from-primary/80 to-primary hover:from-primary hover:to-primary/80 focus:ring-primary mt-4 w-full cursor-pointer rounded-md bg-gradient-to-r px-4 py-2 text-white shadow-lg transition-colors duration-300 focus:outline-none"
        onclick="this.closest('dialog').close()"
        autofocus
    >
        {buttonText}
    </button>
</dialog>
