---
interface Props {
    type: 'text' | 'email' | 'password' | 'tel' | 'number' | 'url' | 'search'
    name: string
    id?: string
    placeholder?: string
    required?: boolean
    autocomplete?: string
    label: string
    ariaLabel?: string
    pattern?: string
    title?: string
    class?: string
}

const { type, name, id, placeholder, required, autocomplete, label, ariaLabel, pattern, title, class: classList } =
    Astro.props as Props
---

<div class="group" class:list={classList}>
    <label for={id ?? name} class="block text-sm font-medium text-gray-700">{label}</label>
    <input
        type={type}
        id={id ?? name}
        name={name}
        aria-required={required}
        aria-label={ariaLabel ?? label}
        class="focus:border-primary focus:ring-primary hover:border-primary hover:ring-primary/30 shadow-primary/30 mt-1 block w-full rounded-md border-gray-300 bg-gray-50 px-3 py-2 shadow-lg transition-all duration-300 hover:bg-purple-50 hover:ring-1 focus:bg-purple-100 focus:outline-0 focus:ring-2 focus:ring-offset-2 active:outline-0 group-[.touched]:valid:bg-green-100 group-[.touched]:valid:shadow-green-500 group-[.touched]:valid:ring-2 group-[.touched]:valid:ring-green-500 group-[.touched]:invalid:bg-red-100 group-[.touched]:invalid:shadow-red-500 group-[.touched]:invalid:ring-2 group-[.touched]:invalid:ring-red-500 sm:text-sm"
        placeholder={placeholder}
        required={required}
        autocomplete={autocomplete}
        pattern={pattern}
        title={title}
    />
</div>
